/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */

* {
    color: green;
}

[class*="ul-list"] > li,
[class*="ul-list"] > li>ol>li{
    color: cornflowerblue;
}
[class*="ul-list"]  li>p{
    color: darkorchid;
}

h1, h2 {
    color: yellow;
}

.article > h3 {
    color: firebrick;
}

.article > p + span {
    color: antiquewhite;
}

.article > p > span {
    color: lightgreen;
}

p ~ div {
    color: saddlebrown;
}

.gallery {
    background-color: navy;
}

footer > .gallery > span {
    color: bisque;
}

footer .gallery > span + p {
    color: darkorchid;
}
